{% extends "website/base.html" %}
{% load static %}

{% block title %}{{ produto.nome }} - Ciclopinhal{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'website/css/produto.css' %}">
{% endblock %}

{% block content %}
<section class="produto-detalhe section">
    <h1>{{ produto.nome }}</h1>

    <div class="produto-info">
        <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="produto-imagem">

        <div class="produto-descricao">
            <p><strong>Preço:</strong> {{ produto.preco }} €</p>
            <p>{{ produto.descricao }}</p>
        </div>
    </div>
</section>
{% endblock %}
