{% extends "website/base.html" %}
{% load static %}

{% block title %}{{ product.name }} - Ciclopinhal{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'website/css/produto.css' %}">
{% endblock %}

{% block content %}
<section class="produto-detalhe section">
    <h1>{{ product.name }}</h1>

    <div class="produto-info">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="produto-imagem">

        <div class="produto-descricao">
            <p><strong>Preço:</strong> {{ product.price }} €</p>
            <p>{{ product.description }}</p>
        </div>
    </div>
</section>
{% endblock %}
